* {
  font-family: "Roboto", sans-serif;
  font-family: "Righteous", cursive;
  margin: 0;
  padding: 0;
}
/* NAVBAR */
.nav-bar {
  /* border: cyan 1px solid; */
  display: flex;
  justify-content: space-between;
  margin: 1rem 2rem;
}
.nav-logo,
.footer-logo {
  cursor: pointer;
  display: flex;
  /* border: 1px solid blue; */
}
.nav-logo h2 {
  align-self: center;
  margin-left: 2rem;
  font-size: 2rem;
}
.nav-links-container {
  margin: auto 0;
}
.nav-links,
.footer-links {
  /* border: brown 1px solid; */
  display: flex;
  list-style: none;
  padding: 0;
}
.nav-links li,
.footer-links li {
  padding: 1rem 2rem;
}
.nav-links li a,
.footer-links li a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #313131;
  font-weight: 400;
  transition: 1s ease-in-out;
}
.nav-links li a:hover {
  color: black;

  font-weight: 500;
}
.nav-links li::after {
  content: "";
  width: 0%;
  height: 2px;
  display: block;
  background: black;
  transition: 0.5s ease;
}
.nav-links li:hover::after {
  width: 100%;
}
/* FIRST SECTION */
.gallery {
  background-image: url("images/HeroSection_Fire.svg");
  height: 18rem;
  background-size: cover;
}
.gallery h1 {
  margin: auto;
  text-align: center;
  color: white;
  font-weight: 500;
  font-size: 4.5rem;
  position: relative;
  top: 2.6rem;
}
.gallery input,
.footer-input {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  width: 33.4rem;
  height: 3rem;
  border-radius: 2rem;
  position: relative;
  left: 31rem;
  top: 3rem;
  outline: none;
  border: none;
}
.fa-search {
  cursor: pointer;
  font-weight: 900;
  color: #858585;
  position: relative;
  font-size: 1.3rem;
  left: 28rem;
  top: 3rem;
}
.fa-search:hover {
  color: black;
  transform: 0.3s ease;
}
.tags {
  text-align: center;
  position: relative;
  top: 3.5rem;
}
.tags li,
.pop-up-tags li {
  font-family: "Roboto", sans-serif;
  border-radius: 1rem;
  background-color: white;
  color: black;
  display: inline-flex;
  justify-content: center;
  margin: 1rem;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  transition: 0.3s ease;
}
.tags li:hover {
  background: #ff3a3a;
  color: white;
  transform: scale(1.1);
}

/* section photo-grid */

.photo-grid-container {
  background: white;
  width: 87%;
  display: grid;
  margin: auto;
  grid-template-columns: auto auto auto;
}
.grid-item {
  position: relative;
  padding: 20px;
  margin: auto;
  transition: 0.3s ease-in;
}
.grid-item:hover {
  transform: scale(1.1);
}
.photo li {
  list-style: none;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  border-radius: 1rem;
  background-color: #ff3a3a;
  color: white;
  display: inline-flex;
  margin: 1rem 0.5rem;
  margin-top: 2rem;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
}
.fa-filter {
  cursor: pointer;
  color: #323232;
  margin-right: 10px;
  font-size: 1.5rem;
}
.fa-filter:hover {
  color: black;
}

.filter-div {
  /* border: olive 1px solid; */
  display: inline-block;
  position: relative;
  left: 80px;
}
.see-more {
  display: inline-block;
  width: 21.8rem;
  color: white;
  background-color: #ff3a3a;
  height: 3rem;
  margin: auto;
  margin-bottom: 2rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}
.see-more:hover {
  transform: scale(1.1);
}
.see-more h2 {
  font-weight: 300;
  cursor: pointer;
}
.grid-info {
  position: absolute;
  top: 55%;
  left: 8%;
}
.grid-info p {
  font-size: 2rem;
  color: white;
  margin: 0 0.8rem;
}
.grid-tags li {
  margin-top: 1rem;
  background: white;
  color: black;
  font-weight: 600;
  transition: 0.3s ease-in;
}
.grid-tags li:hover {
  background: black;
  color: white;
}

/* footer */

.footer {
  background-color: black;
}
.footer-container {
  display: flex;
}
.footer-logo {
  padding: 5.3rem 4rem;
  color: white;
  cursor: auto;
  width: fit-content;
}
.footer-logo h1 {
  margin-left: 2rem;
  font-size: 3rem;
  align-self: center;
  font-weight: 100;
}
.vertical-line {
  border: 1px solid white;
  margin: auto 4%;
  width: 2px;
  height: 10rem;
  background: white;
}
.footer-links {
  display: block;
  height: 10rem;
  margin: auto 3rem;
}
.footer-links li a {
  color: white;
}

.footer-links li {
  padding: 0.4rem 2rem;
}
.footer-input {
  position: inherit;
  align-self: center;
  width: 23rem;
  border-radius: 1rem;
}
.subscribe-btn {
  background: #ff3a3a;
  color: white;
  height: 3rem;
  width: 10.3rem;
  border-radius: 1rem;
  cursor: pointer;
  border: none;
  font-size: 1.3rem;
  align-self: center;
  margin-left: 1rem;
}
.photo .panauti {
  color: white;
  display: inline-block;
  position: relative;
  top: 96px;
  left: 53rem;
  font-weight: 200;
}

/* pop up window */
/* POP-UP CLASS TO BLUR BACKGROUND  */
.pop-up {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out;
  opacity: 1;
  pointer-events: all;
}
.close-pop-up {
  opacity: 0;
  pointer-events: none;
}
.parent-div {
  /* border: 1px solid red; */
  width: 80%;
  margin: auto;
  margin-top: 7%;
  padding: 4rem 1rem;
  border-radius: 5rem;
  display: flex;
  justify-content: space-between;
  background: white;
}

.pop-up-image {
  /* border: green 10px solid; */
  flex-basis: 80%;
  box-sizing: border-box;
}
.pop-up-image img {
  width: 100%;
}
.pop-up-content {
  /* border: blue 10px solid; */
  flex-basis: 70%;
  margin: auto;
  margin-left: 3rem;
}
.fa-times {
  position: relative;
  left: 95%;
  bottom: 30px;
  font-size: 2rem;
  cursor: pointer;
}
.pop-up-text h1 {
  font-weight: 100;
  padding-bottom: 1rem;
}
.pop-up-text h2 {
  padding: 1rem 0;
  font-weight: 100;
}
.pop-up-text p {
  font-family: "Roboto", sans-serif;
}
.pop-up-tags li {
  border: 1px solid black;
  margin: 3px;
}
.pop-up-tags li:hover {
  background: black;
  color: white;
}
